.heading {
  line-height: 1.4;
}

h1.heading {
  font-size: 3rem;
  font-weight: 600;
}
h2.heading {
  font-size: 2rem;
  font-weight: 600;
}
h3.heading {
  font-size: 2rem;
  font-weight: 500;
}

h4.heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
